<div class="row">
    <h2>Login</h2>
</div>
<form action="Login" method="POST">
    <div class="row">
        <div class="col-6">
            <label for="Email">User Email:</label>
        </div>
        <div class="col-6">
            <input type="text" name="Email">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="Password">Password:</label>
        </div>
        <div class="col-6">
            <input type="password" name="Password">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="submit" name="submit" value="Login">
        </div>        
    </div>
</form>