

<div class="container margin_top_10">
<div class="row">
    <div class="col-6">
        @Html.Partial("../Shared/_Registration.cshtml")
        
    </div>
    <div class="col-6">
        @Html.Partial("../Shared/_Login.cshtml")
    </div>
</div>
</div>
