<div class="header_box text-white">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 test">
                <h1 class="text-orange">LUDVIC PITRE</h1>
                <h5 class="text-orange margin_top_5"><em>“Death must be so beautiful. To lie in the soft brown earth, with the grasses waving above one's head, and listen to silence. To have no yesterday, and no tomorrow. To forget time, to forgive life, to be at peace.” - Oscar Wilde</em></h5>
            </div>
        </div>
    </div>
</div>

<div id="QuoteBar" class="breakbar">
    <div class="container">
        <div class="row margin_top_10">
            <div class="col-1"></div>
            <div class="col-11 text-center">
                    <h5 class="text-white">...ancient practices by modern hands...</h5>
            </div>
        </div>
    </div>
</div>
<div id="Contact">
    <div class="container">
        <div class="row margin_top_10">
            <div class="col-12">
                <h2 class="text-center text-white">- [ Contact ] -</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 margin_top_5">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
            <div class="col-sm-12 col-md-4 margin_top_5">
                <p class="text-center">Jackson Street Tattoo Co.<br/>
                    208 S. Jackson St.<br/>
                    Seattle, Wa. 98104<br/>
                    <br/>
                    Phone: (206) 384-4945
                </p>
            </div>
            <div class="col-sm-12 col-md-4 margin_top_5">
                <div class="d-flex flex-wrap justify-content-end">
                    <div class="icon_box d-inline-block">
                        <a href="https://www.instagram.com/electric_phantom/"><img class="img-fluid center" src="~/images/icons/Instagram_Icon.png"></a>
                    </div>
                    <div class="icon_box d-inline-block ">
                        <a href="mailto:electricphantom13@gmail.com"><img class="img-fluid center" src="~/images/icons/Gmail_Icon.png"></a>
                    </div>
                    
                </div>
                
                <p class="text-right">Instagram : <a href="https://www.instagram.com/electric_phantom/">@@electric_phantom</a><br/>
                Email : <a href="mailto:electricphantom13@gmail.com">electricphantom13@@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>

<div id="Gallery" class="margin_top_10">
    <!--
    <div class="container">
        <div class="row margin_top_10">
            <div class="col-12 align-content-center"> -->
                
                <h2 class="text-center text-white">- [ Gallery ] -</h2>
            
                <div id="carouselExampleControls" class="carousel slide margin_top_5" data-ride="carousel">
                    <div class="carousel-inner vh-90">
                        <div class="carousel-item active">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/MF_001.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/MF_002.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/MF_003.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/MF_004.jpg" alt="Fourth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/MF_005.jpg" alt="Fifth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/MF_006.jpg" alt="Sixith slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/MF_007.jpg" alt="Seventh slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/MF_008.jpg" alt="Eighth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/MF_009.jpg" alt="Ninth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/MF_010.jpg" alt="Tenth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/tattoo_011.jpg" alt="Tenth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/tattoo_012.jpg" alt="Tenth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/tattoo_013.jpg" alt="Tenth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/tattoo_014.jpg" alt="Tenth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/tattoo_015.jpg" alt="Tenth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/tattoo_016.jpg" alt="Tenth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/tattoo_017.jpg" alt="Tenth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/tattoo_018.jpg" alt="Tenth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/tattoo_019.jpg" alt="Tenth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/tattoo_020.jpg" alt="Tenth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block mx-auto img_tattoo_gallery" src="~/images/tattoos/tattoo_021.jpg" alt="Tenth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!--
            </div>
            
        </div>
    </div> -->
</div>



<div id="fullscalegalleryimg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">text</h1>
            </div>
        </div>
        <div class="fullscale_img_box d-flex flex-wrap justify-content-center">
            <img class="fullscale_gallery_img" src="" alt="test">
        </div>
        
         
    </div>            
</div>
<div id="MoonPhases">
    <div class="container">
        <div class="row margin_top_10">
            <div class="col-12">
                <h2 class="text-center text-white">- [ Moon Phases ] -</h2>
            </div>
        </div>
        <div class="row margin_top_5">
            <div class="col-12">
                <p class="text-center">"Everyone is a moon, and has a dark side which he never shows to anybody." - Mark Twain</p>
            </div>
        </div>
        
        <div class="row margin_top_5">
            <div class="col-12 align-content-center">
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="img_box">
                        <img class="img-thumbnail img_moon_phase_thumbnail" src="~/images/prints/moon_phases/MP_01_watermark.JPG" alt="MoonPhase1">
                    </div>
                    <div class="img_box">
                        <img class="img-thumbnail img_moon_phase_thumbnail" src="~/images/prints/moon_phases/MP_02_watermark.JPG" alt="MoonPhase2">
                    </div>
                    <div class="img_box">
                        <img class="img-thumbnail img_moon_phase_thumbnail" src="~/images/prints/moon_phases/MP_03_watermark.JPG" alt="MoonPhase3">
                    </div>
                    <div class="img_box">
                        <img class="img-thumbnail img_moon_phase_thumbnail" src="~/images/prints/moon_phases/MP_04_watermark.JPG" alt="MoonPhase4">
                    </div>
                    <div class="img_box">
                        <img class="img-thumbnail img_moon_phase_thumbnail" src="~/images/prints/moon_phases/MP_05_watermark.JPG" alt="MoonPhase5">
                    </div>
                    <div class="img_box">
                        <img class="img-thumbnail img_moon_phase_thumbnail" src="~/images/prints/moon_phases/MP_06_watermark.JPG" alt="MoonPhase6">
                    </div>
                    <div class="img_box">
                        <img class="img-thumbnail img_moon_phase_thumbnail" src="~/images/prints/moon_phases/MP_07_watermark.JPG" alt="MoonPhase7">
                    </div>
                    <div class="img_box">
                        <img class="img-thumbnail img_moon_phase_thumbnail" src="~/images/prints/moon_phases/MP_08_watermark.JPG" alt="MoonPhase8">
                    </div>

                </div>
            </div>
            
        </div>
        <div class="row margin_top_5">
            <div class="col-12">
                <p class="text-center">Prints: $39.99 / Full Set: $279.99</p>
            </div>
            <div class="col-12">
                <p class="text-center">( Shop )</p>
            </div>
        </div>
    </div>
</div>
<div id="Shop">
    <div class="container">
        <div class="row margin_top_10">
            <div class="col-12">
                <h2 class="text-center text-white">- [ Merchandise ] -</h2>
            </div>
        </div>
        <div class="row margin_top_5">
            <div class="col-8">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
            <div class="col-4">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
        </div>
    </div>
</div>